.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.banner {
  width: 500px;
  height: 320px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.imgs img {
  float: left;
  width: 500px;
  height: 320px;
  object-fit: cover;
}
.arrow {
  display: none;
}
.banner:hover .arrow {
  display: block;
}
.arrow .item {
  position: absolute;
  top: 150px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #fff;
}
.arrow .item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.arrow .item.left {
  left: 6px;
}
.arrow .item.right {
  right: 6px;
}
.dots {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.dots span {
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 4px;
  cursor: pointer;
}
.dots span.active {
  background-color: orange;
}
