#game {
  margin: 0 auto;
  position: relative;
}
#game .item {
  position: absolute;
  width: 45px;
  height: 45px;
  background-position: 0 0;
  background-size: 100% 100%;
}
#game .player {
  background-image: url("./imgs/player.png");
}
#game .wall {
  background-image: url("./imgs/wall.jpg");
}
/**
黄色箱子：没有在正确位置上
*/
#game .box {
  background-image: url("./imgs/box.png");
}
/**
绿色箱子：正确位置上的箱子
*/
#game .correct-box {
  background-image: url("./imgs/over_box.png");
}

#game .correct {
  border: 2px dotted rgb(24, 151, 24);
  box-sizing: border-box;
}
